@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');
@font-face {
    font-family: 'League Spartan';
    src: url('leaguespartan-bold.eot');
    src: url('leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('leaguespartan-bold.woff2') format('woff2'),
         url('leaguespartan-bold.woff') format('woff'),
         url('leaguespartan-bold.ttf') format('truetype'),
         url('leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

body {
    background-image: url("ep_naturalwhite.png");
    background-repeat: repeat;
	margin-left: 15%;
	margin-right: 15%;
}


h1.title {
	font-family: 'League Spartan';
	text-align: center;
	font-size: 300%;
	font-style: italic;
	color: #dc143c;
}

h1.title:hover {
	text-shadow: 3px 3px black;
}

ul.nav-bar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li.nav-bar{
	float: left;
}

li a.nav-bar {
	display: block;
	color: white;
	font-family: Monospace;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a.nav-bar:hover {
	background-color: #111;
}

li a.active {
	background-color: #dc143c;
	pointer-events:none;
}

a.links {
	display: block;
	padding: 8px;
	background-color: #dddddd;
}

img.social {
	border: 0;
	height: 50px;
	width: 50px;
}

h2.title {
	padding-top: 6px;
	text-align: center;
	color: #dc143c;
	font-family: 'Nunito', sans-serif;
	font-weight: lighter;
}

div h2 {
	padding-top: 2px;
	text-align: left;
	color: #dc143c;
    font-family: 'Nunito', sans-serif;
	margin: none;
}

div h2.subtitle {
	color: black;
}

div p {
	text-align: left;
	color: black;
	font-family: 'Nunito', sans-serif;
	padding-top: none;
	margin: 1px;
}

div h6 {
	font-family: Monospace;
	padding: none;
	margin: none;
	color: black;
	font-size: 8pt;
	font-weight: lighter;
}

div a {
	font-family: Monospace;
	color: black;
	float: right;
	text-align: right;
	padding: 4px;
	overflow: hidden;
}

div ul {
	overflow: hidden;
	color: black;
	font-weight: lighter;
	font-family: 'Nunito', sans-serif;
}

hr {
	color: black;
	text-decoration: none;
}

@media screen and (max-width: 800px){
  body {margin: 0}
}

