body {
	background-color: #111111;
	margin-left: 30%;
	margin-right: 30%;
}


h1.title {
	font-family: Arial, sans-serif;
	text-align: left;
	color: blue;
	font-weight: lighter;
}

ul.regular {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

li a.active {
	background-color: blue;
}

a.links {
	display: block;
	padding: 8px;
	background-color: #dddddd;
}

img.social {
	border: 0;
	height: 50px;
	width: 50px;
}

a.active {
	font-family: Monospace;
	color: white;
	text-align: left;
	float: left;
	padding-top: 5px;
	padding-right: 6px;
	text-decoration: none;
}

h2.title {
	padding-top: 6px;
	text-align: center;
	color: blue;
	font-family: Arial;
	font-weight: lighter;
}

div h2 {
	padding-top: 2px;
	text-align: left;
	color: blue;
	font-family: Arial;
	margin: none;
	font-weight: lighter;
}

div h2.subtitle {
	color: white;
}

div p {
	text-align: left;
	color: white;
	font-family: Arial;
	padding-top: none;
	margin: 1px;
}

div h6 {
	font-family: Monospace;
	padding: none;
	margin: none;
	color: white;
	font-size: 8pt;
	font-weight: lighter;
}

div a {
	font-family: Monospace;
	color: white;
	float: right;
	text-align: right;
	padding: 4px;
	overflow: hidden;
}

div ul {
	overflow: hidden;
	color: white;
	font-weight: lighter;
	font-family: Arial;
}

hr {
	color: white;
	text-decoration: none;
}

@media screen and (max-width: 800px){
  body {margin: 0}
}

